body{
    background-color: #d5e8d4;
}

#errorMsg{
    color: red;
}

#errorMsg2{
    color: red;
}

#errorMsg3{
    color: red;
}

#errorMsg4{
    color: red;
}

#errorMsg5{
    color: red;
}

#errorMsg6{
    color: red;
}
